<section class="section__colored">
    <div class="fixed-width-container">
        <h2 class="section-headline white benefits-title">Our advantages</h2>

        <div class="benefits-list">

            <div class="benefits-block">
                <img class="benefits-image" src="/assets/svg/$60.svg" alt="">
                <h3 class="section-subheadline white">The cost of regular appliance diagnostics is $60</h3>
                <p class="big white__muted">
                    Calling a professional repairman costs from $60. This is a fixed price, it includes master’s cost of travel and time spent inspecting your appliance.
                </p>
            </div>

            <div class="benefits-block">
                <img class="benefits-image" src="/assets/svg/free.svg" alt="">
                <h3 class="section-subheadline white">Use our service for repair and get free diagnostics</h3>
                <p class="big white__muted">We know the value of money that’s why we decided to make a free estimate for everyone who decides to repair their appliances at AC/DC HVAC & Appliance repair. You may rest assured, you won’t have to put in a penny for our in-home consultation. We favour customer-oriented, after all!</p>
            </div>

            <div class="benefits-block">
                <img class="benefits-image" src="/assets/svg/warrenty.svg" alt="">
                <h3 class="section-subheadline white">6-month guarantee</h3>
                <p class="big white__muted">We provide 6-month guarantee that covers all parts and details changed by our service. Also, we give one-year extended warranty for repaired refrigerators and HVAC systems.</p>
            </div>

            <div class="benefits-block">
                <img class="benefits-image" src="/assets/svg/fast.svg" alt="">
                <h3 class="section-subheadline white">Same-day, everyday service</h3>
                <p class="big white__muted">We at AC/DC HVAC & Appliance Repair value our and our clients’ time. Call us and be sure to meet our master later on the same day. Our working hours are 8 a.m to 8 p.m. seven days a week.</p>
            </div>

        </div>

    </div>
</section>