<section>
    <a name="dryer"></a>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Dishwasher repair price range</h2>
            <p class="big">The cost of <a href="/dishwasher-repair">repairing a dishwasher</a> is <strong>$125 to $350</strong>. Obviously, fixing something small like a valve or filter is worth less than replacing the motor or pump. This appliance also runs the risk of water leaks, so you need to watch out for:</p>

            <div class="card">
                <h3 class="section-subheadline">Typical problems</h3>
                <ul>
                    <li>Leaks around the dishwasher</li>
                    <li>Water that won’t drain</li>
                    <li>Lack of heat</li>
                </ul>
            </div>
            <p class="big">Did you notice any of these? Then don’t hesitate to call us!</p>

            <div class="card">
                <h3 class="section-subheadline">Dishwasher brands we repair</h3>
                <ul class="two-column">
                    <li>Amana</li>
                    <li>Bosch</li>
                    <li>Electrolux</li>
                    <li>Frigidaire</li>
                    <li>GE</li>
                    <li>JennAir</li>
                    <li>Kenmore</li>
                    <li>KitchenAid</li>
                    <li>LG</li>
                    <li>Maytag</li>
                </ul>
                <p class="big">
                    No matter what brand of dishwasher you possess, they all work on similar principles. Hand your dishwasher over to our technically competent personnel and book your repair online today.
                </p>
            </div>
        </div>
    </div>
</section>