<footer>
    <div class="fixed-width-container footer-container">

        <div class="footer-block">
            <img class="footer-block-image" src="/assets/svg/logo-sign.svg" alt="Air Comfort LLC">
            <p class="big white">Thank you for your interest in Air Comfort LLC</p>
        </div>

        <div class="footer-block">
            <p class="big white">
                Address: 501 Turner Rd # 924, Grapevine TX 76051
                <br>
                Phone: (469) 730-0301
                <br>
                E-mail: support@acdcappliancerepair.com
            </p>
        </div>

        <div class="footer-block">
            <p class="small white">
                © 2020 Air Comfort LLC, llc. All rights reserved.
            </p>
        </div>

    </div>
</footer>