<section>
    <a name="microwave"></a>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Microwave repair</h2>
            <h3 class="section-subheadline">Microwave won’t heat?  Call AC/DC Appliance Repair!</h3>
            <p class="big">So, you’ve encountered a problem with you microwave. Is there  no light or no power to it? Probably, the oven door won’t open? Or buttons on the sensor panel aren’t working? If the problem you’re looking for is mentioned above, or if you have another one, call AC/DC Appliance Repair anyway. We will help!</p>
    
            <div class="card">
                <h3 class="section-subheadline">Typical problems</h3>
                <ul>
                    <li>Buttons/panel are not working</li>
                    <li>Door won't open</li>
                    <li>Exhaust fan is not working</li>
                    <li>Light bulb burned out</li>
                    <li>Loud or noisy</li>
                    <li>Microwave shuts off after a few seconds</li>
                    <li>Microwave turns on its own</li>
                    <li>Not heating</li>
                    <li>Sparks and/or arcing</li>
                    <li>Turntable is not spinning</li>
                </ul>
            </div>
    
            <h3 class="section-subheadline">How much does it cost to fix a microwave?</h3>
            <p class="big">
                <a href="/microwave-repair">Repairing a microwave</a> would cost, on average, <strong>$185</strong>, depending on the model and the type of problem. These parts need replacement most commonly:
            </p>
            <ul class="two-column">
                <li>Diode</li>
                <li>Drive motor</li>
                <li>Door</li>
                <li>Glass tray</li>
                <li>Handle</li>
                <li>Magnetron</li>
                <li>Power cord</li>
            </ul>
    
            <div class="card">
                <h3 class="section-subheadline">Microwave brands we service</h3>
                <ul class="two-column">
                    <li>Amana</li>
                    <li>Estate</li>
                    <li>Frigidaire</li>
                    <li>GE</li>
                    <li>Hotpoint</li>
                    <li>JennAir</li>
                    <li>Kenmore</li>
                    <li>KitchenAid</li>
                    <li>LG</li>
                    <li>Magic Chef</li>
                    <li>Maytag</li>
                    <li>Samsung</li>
                    <li>Sears</li>
                    <li>Whirlpool</li>
                </ul>
                <p class="big">
                    If you’re looking where to fix your microwave, you can rely on AC/DC Appliance Repair.
                </p>
            </div>
        </div>
    </div>
</section>