<header class="top-bar">
    <div class="fixed-width-container">
        <div class="nav--container">

            <a class="nav-link" href="/">
                {% include logotype.svg %}
            </a>

            <nav class="nav-menu">
                <a href="/85-reasons-book-acdc-appliance-repair" class="nav--contact-name">Why Us</a>
                <a href="/prices" class="nav--contact-name">Prices</a>
                <a href="/about" class="nav--contact-name">About</a>
                <a href="/contacts" class="nav--contact-name">Contacts</a>
            </nav>

        </div>
    </div>
</header>
