<section>
    <a name="oven"></a>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Oven, Range, Cooktop repair price range</h2>
            <p class="big">The average price of <a href="/oven-repair">repairing an oven</a> comprises <strong>$220</strong>, varying from <strong>$125 to $430</strong>. It depends primarily on the type of appliance.</p>

            <div class="card">
                <h3 class="section-subheadline">Typical problems</h3>
                <p class="big">During the service life of these appliances, you can expect the following problems to occur:</p>
                <ul>
                    <li>Bad switch that causes the burner to run too hot</li>
                    <li>Broken burner</li>
                    <li>Defective indicator light</li>
                    <li>Stuck oven door</li>
                    <li>Problems with the igniter or valve causing the failure or malfunctioning of a unit</li>
                    <li>Poor heating caused by problems with the main controller or igniter</li>
                    <li>Faulty thermostat or sensor showing incorrect temperatures</li>
                </ul>
            </div>

            <div class="card">
                <h3 class="section-subheadline">Brands we service</h3>
                <ul class="two-column">
                    <li>Bosch</li>
                    <li>Dacor</li>
                    <li>Frigidaire</li>
                    <li>GE</li>
                    <li>JennAir</li>
                    <li>KitchenAid</li>
                    <li>LG</li>
                    <li>Maytag</li>
                    <li>Miele</li>
                    <li>Samsung</li>
                    <li>Thermador</li>
                    <li>Viking</li>
                    <li>Whirlpool</li>
                </ul>
                <p class="big">
                    No matter what brand of oven, range or cooktop you have, we know how to fix it!
                </p>
            </div>
        </div>
    </div>
</section>

