<section>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Appliance repair price range</h2>
            <p class="big">Appliance repair costs an average <strong>$170</strong>, with a typical price range between <strong>$125–$245</strong>. This includes price of parts and professional service.</p>
            <p class="big">Although most common problems are included in this range, there are several aspects that may increase the overall price. If the unit is older than 10 years, runs on natural gas or was sold above $5,000 when you bought it, it’ll probably cost more to fix it. Here’s what you can expect to pay based on the machine and other considerations.</p>

            <h3 class="section-subheadline">Service call cost</h3>
            <p class="big">Appliance diagnostic fee equals <strong>$60</strong>, but if you decide to fix it at AC/DC Appliance Repair, the estimate will be free.</p>

            <div class="card">
                <h3 class="section-subheadline">Factors affect cost of repair</h3>
                <p class="big">It will cost <strong>$125 to $225</strong> to fix an appliance, but the total price may be hundreds of dollars higher depending on a few factors.</p>
                <h4 class="section-label">Energy supply system</h4>
                <p class="big">Gas or electric? Servicing of gas equipment like water heaters, dryers, ovens and stoves costs more. The reason is it carries more risk to repair gas appliances (e.g. carbon monoxide leaks or fire) than electric ones. Electric-powered models are more expensive to run, but it is usually cheaper to fix them.</p>
                <h4 class="section-label">Accessibility of appliance</h4>
                <p class="big">Rule #1: if your appliance is easily accessible, it will cost less to fix than one that’s difficult to reach. Rule #2: if the wiring is straightforward and easy to get to, you’ll likely pay less.</p>
                <h4 class="section-label">Availability of parts</h4>
                <p class="big">Parts for old appliances or rare systems are difficult to find and therefore they are expensive. To save money, offer your tech to take used parts. They’re frequently as good as new ones.</p>
            </div>

            <h3 class="section-subheadline">What to choose: DIY vs. hire an appliance repair tech?</h3>
            <p class="big">Be careful working with electrical, plumbing or fuel connections. Putting yourself or your family in danger isn’t worth the money savings, especially when you’ll probably have to hire repair service to fix it anyway. If you need to undertake a risky operation like rewiring or replacing fridge compressor, don’t hesitate to call an AC/DC pro – we’ll help to do it safely, quickly, and professionally.
            </p>
        </div>
    </div>
</section>