<section>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Refrigerator and freezer repair price range</h2>
            <p class="big"><a href="/refrigerator-repair">We can repair every all kinds of refrigerators</a> (built-in, French-door, top/bottom-freezer ones, etc.), undercounter food freezers and even wine cellars. We provide services for all brands and models. Feel free to call us! All our techs are trained and insured, and we provide guarantees for all our work. You can rest assured, we’ll have your fridge up and running in no time!</p>

            <div class="card">
                <h3 class="section-subheadline">Typical problems</h3>
                <ul>
                    <li>Not cooling</li>
                    <li>Water dispenser/ice maker/ice dispenser is not working</li>
                    <li>Ice maker is overflowing</li>
                    <li>Not defrosting</li>
                    <li>Noisy</li>
                    <li>Defrost drain is clogged</li>
                    <li>Freezer is cold but fridge is too warm</li>
                    <li>Water is leaking</li>
                    <li>Food is freezing</li>
                    <li>Light is not working</li>
                    <li>Fridge is running constantly</li>
                </ul>
            </div>

            <h3 class="section-subheadline">How much soes it cost to fix a fridge or a freezer?</h3>
            <p class="big">
                The cost of repairing these appliances varies from <strong>$125 to $850</strong>, depending on the parts that you need to replace. For instance, a new thermostat is worth at least <strong>$125</strong>, compared to a new compressor the price of which can be as high as <strong>$450</strong>.
            </p>
            <p class="big">
                If you fridge makes loud noises like buzzing or has stopped cooling, it might require repair. General problems include:
            </p>
            <ul>
                <li>Annoying noises might be because of the overheating fan</li>
                <li>Clicking sounds indicate problems with the start relay</li>
                <li>Poor cooling may be a sign of a faulty compressor</li>
                <li>And various odd sounds that might signal faults with the icemaker, defroster motor, or the freezer evaporator fan</li>
            </ul>

            <div class="card">
                <h3 class="section-subheadline">Refrigerator and freezer brands we repair</h3>
                <ul class="two-column">
                    <li>Amana</li>
                    <li>Bosch</li>
                    <li>Frigidaire</li>
                    <li>GE</li>
                    <li>JennAir</li>
                    <li>Kenmore</li>
                    <li>KitchenAid</li>
                    <li>LG</li>
                    <li>Maytag</li>
                    <li>Sub-Zero</li>
                    <li>Thermador</li>
                    <li>Viking</li>
                    <li>Whirlpool</li>
                </ul>
                <p class="big">
                    No matter what brand of refrigerator you possess, AC/DC HVAC & Appliance Repair offers expertise and knowledge to fix your household appliance in a proper way. It does not matter what the problem is: whether it is the ice make that is not working, defrost drain that is clogged, light that is off, or the refrigerator that keeps running, we’ll take care of your problems.
                </p>
            </div>
        </div>
    </div>
</section>