<section>
    <div class="fixed-width-container">
        <hr>
        <h2 class="section-headline">Our services</h2>
        <p class="big">We repair services for all major appliances around your house.</p>
        <div class="service-icon__set">
            <a class="service-icon__link" href="/washer-repair.html">
                {% include washer.svg %}
                <p class="service-icon__link-text small">Washer</p>
            </a>
            <a class="service-icon__link" href="/dryer-repair.html">
                {% include dryer.svg %}
                <p class="service-icon__link-text small">Dryer</p>
            </a>
            <a class="service-icon__link" href="/dishwasher-repair.html">
                {% include dishwasher.svg %}
                <p class="service-icon__link-text small">Dishwasher</p>
            </a>
            <a class="service-icon__link" href="/oven-repair.html">
                {% include oven.svg %}
                <p class="service-icon__link-text small">Oven, Range, Cooktop</p>
            </a>
            <a class="service-icon__link" href="/refrigerator-repair.html">
                {% include refrigerator.svg %}
                <p class="service-icon__link-text small">Refrigerator and freezer</p>
            </a>
            <a class="service-icon__link" href="/microwave-repair.html">
                {% include microwave.svg %}
                <p class="service-icon__link-text small">Microwave</p>
            </a>
        </div>
    </div>
</section>