<section class="section__colored">
    <div class="fixed-width-container">
        <div class="col-12">
            <h2 class="section-headline white">
                We repair Home, Commercial and HVAC Appliances in in Dallas-Fort Worth Area
            </h2>
            <h3 class="section-subheadline white">Residential appliances</h3>
            <ul class="four-column">
                <li class="white__muted"><a class="link--white__muted" href="/oven-repair">Oven, DoubleOven Repair</a></li>
                <li class="white__muted"><a class="link--white__muted" href="/oven-repair">Cooktop Repair</a></li>
                <li class="white__muted"><a class="link--white__muted" href="/microwave-repair">Microwave & Oven Combo Repair</a></li>
                <li class="white__muted"><a class="link--white__muted" href="/washer-repair"Washer Repair></a></li>
                <li class="white__muted"><a class="link--white__muted" href="/dryer-repair">Dryer Repair</a></li>
                <li class="white__muted"><a class="link--white__muted" href="/dishwasher-repair">Dishwasher Repair</a></li>
                <li class="white__muted"><a class="link--white__muted" href="refrigerator-repair">Refrigerator Repair</a></li>
                <li class="white__muted"><a class="link--white__muted" href="/refrigerator-repair">Freezer Repair</a></li>
                <li class="white__muted">Wine Cooler Repair</li>
                <li class="white__muted"><a class="link--white__muted" href="/oven-repair">Range and Stove Repair</a></li>
            </ul>
    
            <h3 class="section-subheadline white">Commercial appliances</h3>
            <ul class="four-column">
                <li class="white__muted">Commercial Refrigerator Repair</li>
                <li class="white__muted">Commercial Freezer Repair</li>
                <li class="white__muted">Commercial Oven Repair</li>
                <li class="white__muted">Commercial Cooktop Repair</li>
                <li class="white__muted">Commercial Microwave Repair</li>
                <li class="white__muted">Commercial Dishwasher Repair</li>
                <li class="white__muted">Commercial Pizza Oven Repair</li>
                <li class="white__muted">Ice Machine Repair</li>
            </ul>
    
            <h3 class="section-subheadline white">Industrial appliance equipment</h3>
            <ul class="four-column">
                <li class="white__muted">Walk-in Cooler Repair</li>
                <li class="white__muted">Walk-in Freezer Repair</li>
                <li class="white__muted">Industrial Oven Repair</li>
                <li class="white__muted">Industrial Microwave Repair</li>
            </ul>
        </div>
    </div>
</section>