<section class="trust">
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">
                Don’t Throw Your Broken Appliances – We’ll Fix Them
            </h2>
            <div class="trust-text-block">
                <p class="big">AC/DC HVAC & Appliance Repair LLC supports the idea of sustainable consumption. Why throw something away, if it can be fixed?
                </p>
                <p class="big">All our techs are qualified specialists. You can be sure that every worker at our company is experienced and skilled, trained and certified.
                </p>
            </div>

            <div class="trust-list">

                <div class="trust-block">
                    <img class="trust-block-image" src="/assets/svg/trained.svg" alt="Trained Techs">
                    <div class="">
                        <h3 class="section-subheadline trust-block-title">Trained maintenance workers
                        </h3>
                        <p class="big trust-block-text">
                            We provide training every fortnight. All our techs have an EPA certification.
                        </p>
                    </div>
                </div>

                <div class="trust-block">
                    <img class="trust-block-image" src="/assets/svg/insured.svg" alt="">
                    <div class="">
                        <h3 class="section-subheadline trust-block-title">Guarantee of safety and security</h3>
                        <p class="big trust-block-text">
                            Our specialists are insured against accidents at work.
                        </p>
                    </div>
                </div>
    
                <div class="trust-block trust-block__wide">
                    <img class="trust-block-image" src="/assets/svg/call-assistant.svg" alt="">
                    <div class="">
                        <h3 class="section-subheadline trust-block-title">Customer service</h3>
                        <p class="big trust-block-text">Feel free to call us, we’ve got a friendly customer service team who will be glad to help you. We are proud to be one of the best appliance repair services in Dallas-Fort Worth Area.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>