<section>
    <a name="washer"></a>
    <div class="fixed-width-container">
        <div class="col-8">
            <hr>
            <h2 class="section-headline">Washer repair price range</h2>
            <p class="big">Approximate cost of <a href="/washer-repair">repairing a washing machine</a> is from <strong>$125 to $350</strong>. Beware, if broken, this appliance can cause extensive water damage, so you’d better call a pro immediately if you notice:</p>

            <div class="card">
                <h3 class="section-subheadline">Typical problems</h3>
                <ul>
                    <li>It won’t drain</li>
                    <li>Leaking</li>
                    <li>Mechanical failures, including problems with the agitator</li>
                    <li>Standing water around the machine</li>
                    <li>Filling with water</li>
                    <li>Wobbling</li>
                    <li>Worn or broken drive belts</li>
                </ul>
            </div>

            <div class="card">
                <h3 class="section-subheadline">Washer brands we repair</h3>
                <ul class="two-column">
                    <li>GE</li>
                    <li>LG</li>
                    <li>Maytag</li>
                    <li>Samsung</li>
                    <li>Whirlpool</li>
                </ul>
                <p class="big">
                    Air Comfort LLC provides service for all brands of washing machines. It doesn’t matter if you’ve got the latest smart washer or an old school model, our techs will know what to do to get your laundry routine back to normal.
                </p>
            </div>
        </div>
    </div>
</section>