/* BENEFITS */

.benefits{
    background-color: var(--color-blue);
    padding-bottom: 22px;
    margin-bottom: 64px;
}

.benefits-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.benefits-block{
    margin-bottom: 16px;
    max-width: 382px;
    margin-right: 80px;

    h3{
        margin-top: Calc(6px + 0px);
    }
}

.benefits-image{
    // margin-top: 34px;
    height: 128px;
    filter: brightness(100);
}

@media screen and (max-width: 960px){
    .benefits-block{
        width: Calc(50vw - 32px);
    }
    .benefits-block:nth-child(odd){
        margin-right: 32px;
    }
    .benefits-block:nth-child(even){
        margin-right: 0px;
    }
}

@media screen and (max-width: 540px){
    .benefits-block{
        width: 100%;
        max-width: 100%;
        margin-right: 0px !important;
    }
}