.card{
    border-radius: 16px;
    background-color: var(--color-light-grey);
    // box-shadow: 0px 30px 50px 0px rgba(45,45,45,0.1);
    padding: 24px;
    margin-top: 27px;
    margin-bottom: 27px;

    .section-subheadline{
        margin-top: 6px;
    }

    p{
        margin-top: 16px;
    }
}