/* CITIES BLOCK */
.cities{
}
ul.cities--list{
    -webkit-columns: Calc(50vw - 32px) 2;
    -moz-columns: Calc(50vw - 32px) 2;
    columns: Calc(var(--fixed-width) / 8) 4;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    // li{
    //     color: var(--color-white-60);
    //     list-style: none;
    // }
}

@media screen and (max-width: 960px){
    .cities{
        ul{
            margin-bottom: 0;
        }
    }
}