/* TRUST */

.trust-block-image{
    margin-right: 16px;
    /* margin-top: 4px; */
    min-width: 64px;
    height: 64px;
    margin-top: 8px;
}

.trust-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 64px;
}

.trust-block{
    margin-bottom: 48px;
    // max-width: 382px;
    // width: 382px;
    // margin-right: 80px;

    display: flex;
    align-items: flex-start;

    h3{
        margin-top: 0px;
    }
}

.trust-block__wide{
    max-width: 100%;
    width: 100%;
}

.trust-block-text{
    margin-top: 4px;
}

@media screen and (max-width: 960px){

    .trust-list{
        margin-top: 32px;
    }
    .trust-text-block{
        flex-direction: column;
    }

    // .trust-text{
    //     margin-bottom: 32px;
    //     margin-right: 0;
    //     max-width: 100%;
    // }

    .trust-block{
        width: Calc(50vw - 32px);
        margin-bottom: 32px;
    }
    .trust-block:nth-child(odd){
        margin-right: 32px;
    }
    .trust-block:nth-child(even){
        margin-right: 0px;
    }

    .trust-block__wide{
        width: 100%;
        margin-right: 0px;
        max-width: 100%;
    }
}

@media screen and (max-width: 540px){
    .trust-block{
        width: 100%;
        // max-width: 100vw;
        margin-right: 0px !important;
    }
}