---
layout: "wrapper"
---

<main role="main" class="about">

    <!-- CAT -->
    <div class="page--cat-button-container">
        <div class="page--cat-button">
            <a id="cat-button__id-contacts"href="tel:(469) 730-0301" class="page--cat-phone">
                CALL US NOW (469) 730-0301
            </a>
        </div>
    </div>


    <!-- BG HERO -->
    <div class="page--bg-hero"></div>


    <!-- HEADER -->
    <header class="page--header">
        <div class="fixed-width-container main--header--block">
            <h1 class="main--lead">{{ page.title }}</h1>
            <p class="main--descriptor">{{ page.subtitle }}</p>
        </div>
    </header>

    
</main>