---
layout: "wrapper"
---

<main role="main" class="main">

    <!-- CAT BUTTON -->
    {% include cat-button.html %}

    <article>

        <!-- HERO -->
        {% include hero.html %}

        <!-- OPENER -->
        {% include opener.html %}

        <!-- SERVICES ICONS -->
        {% include services-icon-set.html %}

        <!-- TRUST -->
        {% include trust.html %}

        <!-- BENEFITS -->
        {% include benefits.html %}

        <!-- CITIES -->
        {% include cities.html %}

        <!-- REVIEWS -->
        {% include reviews.html %}

        <!-- PRICE RANGE -->
        {% include price-range.html %}

        <!-- INDEX -->
        <!-- {% include services-index.html %} -->
        <section>
            <div class="fixed-width-container">
                <hr>
                <h2 class="section-headline">List of services on this page</h2>
                <ol>
                    <li><a href="#refrigerator">Refrigerator and Freezer</a></li>
                    <li><a href="#dryer">Clothes Dryer</a></li>
                    <li><a href="#washer">Washing Machine</a></li>
                    <li><a href="#dishwasher">Dishwasher</a></li>
                    <li><a href="#oven">Oven, Range and Cooktop</a></li>
                    <li><a href="#microwave">Microwave</a></li>
                </ol>
            </div>
        </section>


        <!-- REFRIGERATOR -->
        <a name="refrigerator"></a>
        {% include refrigerator.html %}

        <!-- DRYER -->
        <a name="dryer"></a>
        {% include dryer.html %}

        <!-- WASHER -->
        <a name="washer"></a>
        {% include washer.html %}

        <!-- DISHWASHER -->
        <a name="dishwasher"></a>
        {% include dishwasher.html %}

        <!-- OVEN -->
        <a name="oven"></a>
        {% include oven.html %}

        <!-- MICROWAVE -->
        <a name="microwave"></a>
        {% include microwave.html %}

        <!-- SERVICES  -->
        {% include services.html %}

    </article>
</main>